.first3{
    text-align: center;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    height: 30px;
    padding: 3px;


}
.z{
    width: 100%;
    text-align: center;
}
.y1{
    width: 100%;
    text-align: center;
    color: orange;
}