*{
    margin: 0;
    padding: 0;
}



.main{
    width: 100%;
    height: 100%;
    background-color:#E8E8E8;
}

.header{
    
    background: 	#D8D8D8;
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-areas: 'suitcase bookings homepage room booking empty empty empty main-avatar main-avatar';
    /* width: 100%;
    height: 20%;
    background: blue; */
}


.suitcase{
    display: flex;
    justify-content: center;
}
   
 .suitcaseimg{   
    width: 40px;
    height: 50px;
}

.avatar{
    display: flex;
}
.avatarimg{
        width: 29px;
        height: 28px;

}
.loginlogo{
    display: flex;
    justify-content: center;

}

.loginlogoimg1{
    width: 30px;
    height: 20px;
    margin-top: 5px;
    margin-right: 15px;

}
.loginlogoimg2{
    transform: rotate(180deg);
    width: 30px;
    height: 20px;
    margin-top: 5px;
    margin-right: 15px;

}




.suitcase { grid-area: suitcase; }
.bookings { grid-area: bookings;
            display:flex;
        font-weight: bold; }
.homepage { grid-area: homepage; }
.room {
     grid-area: room; 
   
    }
.booking { grid-area: booking; }
.empty { grid-area: empty; }

.main-avatar{
    grid-area: main-avatar;
    display: flex;
    justify-content: end;
    gap: 15px;
    }
.administrator{
    padding-top: 3px;
}

.box {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    /* margin-top: 30px; */
  }




.content{
    width: 100%;
    height: 89vh;
    background:  rgb(220, 228, 228);
}


.banner{
    width: 100%;
    height: 200px;
}
.bannerimg{
    object-fit:cover;
    width: 100%;
    height: 200px;
}

.checkin{
    width: 93.5%;
    padding: 0 20px;

}
.checkout{
    margin-left: 1%;
    width: 49.5%;
    height:55%;
    background:rgb(223, 214, 214);
    float: left;
}
.checklogo{
    float: left;
    width: 30px;
    height: 30px;
}

.text{
    /* display: flex; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 0px 22px 0px;

}
.emblem{
    width: 100%;    
    display: flex;
    gap: 3px;
}

.check-wrapper{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 0.08fr 1fr;
    background: #fdfdfd;
}
.gapbetween{
    background-color: rgb(220, 228, 228);
}

.click{
    background: #D8D8D8;
    position: absolute;
    top: 55px;
    /* left: px; */
    font-size: 17px;
    width: 200px;
}
.click1{
    background: #D8D8D8;
    position: absolute;
    top: 40px;
    /* left: 2px; */
    font-size: 17px;

}
.disableclick{
    display: none;
}
.link{
    text-decoration:none;
    color: black;
}
.booking{
    position: relative;
}
.b{
    height: 30px;
    /* width: 150px; */
}
.roomin{
    position: absolute;
    top: 40px;
    left: 374px;
    padding: 6px 4px;
    background: #D8D8D8;
    position: absolute;
    left: 2px;
    font-size: 17px;
}
.roomin1{
    display: none;
}
.rooms{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 6px;
    cursor: pointer;
}
.room-number{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 6px;
}
.roomcontainer{
    position: relative;
}
.main2{
    background: black;
    width: 600px;
    min-height: 400px;
}


/* ----------------Responsive---------------- */
@media screen and (max-width:600px) {
    .main{
        display: none;
    }
    .main2{
        
    }
    
}

@media screen and (min-width:600px) {
    .main2{
        display: none;
    }
    .main{

    }
    
}